<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="0.61.0" targetFramework="xamarinios10" />
  <package id="Fabulous.LiveUpdate" version="0.61.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="0.61.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.61.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.SkiaSharp" version="0.61.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="5.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.2" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="2.80.2" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.7.335" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.4" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.4" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.4" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.6.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="xamarinios10" />
</packages>